<div class="search-box">
  <div class="d-flex">
    <input type="text" [(ngModel)]="startPoint" (change)="search()" class="form-control mr-1 mt-1" placeholder="Điểm đi">
    <input type="text" [(ngModel)]="endPoint" (change)="search()" class="form-control mr-1 mt-1" placeholder="Điểm đến">
  </div>
  <div class="d-flex text-cen">
    <input placeholder="Từ ngày" type="text" [(ngModel)]="startDate" (change)="search()" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control mr-1 mt-2" >
    <input placeholder="Đến ngày" type="text" [(ngModel)]="endDate" (change)="search()" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control mr-1 mt-2">
  </div>
</div>

