<body id="body">
<div class="container-fluid d-flex">
  <div class="left col-12">
    <div class="d-flex m-2">
      <div class="col-8">
        <h1>Danh sách khách hàng</h1>
      </div>
      <div class="col-4 m-2">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Tìm kiếm khách hàng" id="keySearchCustomer" name="keySearchCustomer"
                 aria-label="Tìm kiếm khách hàng" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="buttonSearchCustomer" type="button">Tìm kiếm</button>
          </div>
        </div>
      </div>
    </div>
    <div id="message" style="color: dodgerblue;font-size: 24px"></div>
    <div class="d-flex">
      <div class="col-10">
      </div>
      <div class="col-2 text-right">
        <button type="button" class="btn btn-outline-info mb-2" style="margin-right: 2px" data-toggle="modal" data-target="#addNew">Thêm mới khách hàng</button>
      </div>
    </div>
    <table id="tables" class="table table-striped table-active table-hover" style="width:100%">
      <thead>
      <tr>
        <th>ID</th>
        <th>Mã</th>
        <th>Tên khách hàng</th>
        <th>Ngày sinh</th>
        <th>Giới tính</th>
        <th>Số CMND</th>
        <th>Điện thoại</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Loại khách hàng</th>
        <th>Tuỳ chọn</th>
      </tr>
      </thead>
      <tbody id="bodyTable">
      <tr *ngFor="let customerElement of customers">
        <td>{{customerElement.id}}</td>
        <td>{{customerElement.code}}</td>
        <td>{{customerElement.name}}</td>
        <td>{{customerElement.birthday}}</td>
        <td *ngIf="customerElement.gender == 1">Nam</td>
        <td *ngIf="customerElement.gender == 0">Nữ</td>
        <td>{{customerElement.idCard}}</td>
        <td>{{customerElement.phone}}</td>
        <td>{{customerElement.email}}</td>
        <td>{{customerElement.address}}</td>
        <td>{{customerElement.customerType.name}}</td>
        <td>
          <button type="button" class="btn btn-outline-primary mr-2" data-toggle="modal" data-target="#edit"
                  onclick="editModalCustomer('${row.getId}', '${row.getCode}', '${row.getName}'
                                                        , '${row.getGender}', '${row.getBirthday}', '${row.getIdCard}'
                                                        , '${row.getPhone}', '${row.getEmail}', '${row.getAddress}'
                                                        , '${row.getCustomerType.getId}')">Sửa</button>
          <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#delete"
                  onclick="deleteModalCustomer('${row.getId}', '${row.getCode}', '${row.getName}')" >Xóa
          </button>
        </td>

      </tr>
      </tbody>
    </table>

  </div>
</div>
<!-- Modal addnew -->
<div class="modal fade bd-example-modal-lg" id="addNew" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-light">
      <div class="modal-header bg-dark" >
        <h5 class="modal-title text-white" >Thêm mới khách hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex">
          <div class="col-6">
            <input type="text" hidden name="id" id="id">
            <div class="form-group">
              <label>Mã khách hàng</label>
              <input type="text" class="form-control" id="code" name="code" [(ngModel)]="customer.code" placeholder="Nhập mã khách hàng" >
            </div>
            <div class="form-group">
              <label>Tên khách hàng</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="customer.name" placeholder="Nhập tên khách hàng" >
            </div>
            <div class="form-group">
              <label>Loại khách hàng</label>
              <select class="custom-select" id="customerType" name="customerType" [(ngModel)]="customer.customerType.id" >
                <option *ngFor="let customerTypes of customerType" value="{{customerTypes.id}}">{{customerTypes.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Ngày Sinh</label>
              <input placeholder="Selected date" type="date" id="birthday" name="birthday" [(ngModel)]="customer.birthday" class="form-control datepicker" >
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Giới tính</label>
              <select class="custom-select" id="gender" name="gender" [(ngModel)]="customer.gender" >
                <option value="1">Nam</option>
                <option value="0">Nữ</option>
              </select>
            </div>
            <div class="form-group">
              <label>Số CMND</label>
              <input type="text" class="form-control"  id="idCard" name="idCard" [(ngModel)]="customer.idCard"  placeholder="Nhập số CMND" >
            </div>
            <div class="form-group">
              <label>Số Điện thoại</label>
              <input type="text" class="form-control" id="phone" name="phone"  [(ngModel)]="customer.phone" placeholder="Nhập số Điện thoại" >
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="customer.email" placeholder="Nhập Email" >
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Địa chỉ</label>
          <textarea class="form-control" id="address" name="address" rows="3" [(ngModel)]="customer.address" placeholder="Nhập điện chỉ"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-dark btn-block mb-4" (click)="addNewCustomer()">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal addnew -->
<!-- Modal edit -->
<div class="modal fade bd-example-modal-lg" id="edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-light">
      <div class="modal-header bg-dark" >
        <h5 class="modal-title text-white" >Sửa khách hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="idEdit" name="idEdit"/>

        <div class="d-flex">
          <div class="col-6">
            <div class="form-group">
              <label>Mã khách hàng</label>
              <input type="text" class="form-control" id="codeEdit" name="codeEdit" placeholder="Nhập mã khách hàng" >
            </div>
            <div class="form-group">
              <label>Tên khách hàng</label>
              <input type="text" class="form-control" id="nameEdit" name="nameEdit" placeholder="Nhập tên khách hàng" >
            </div>
            <div class="form-group">
              <label>Loại khách hàng</label>
              <select class="custom-select" id="customerTypeEdit" name="customerTypeEdit">
                <option>Diamond</option>
                <option>Gold</option>
              </select>
            </div>
            <div class="form-group">
              <label>Ngày Sinh</label>
              <input placeholder="Selected date" type="date" id="birthdayEdit" name="birthdayEdit" class="form-control datepicker" >
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Giới tính</label>
              <select class="custom-select" id="genderEdit" name="genderEdit" >
                <option>Nam</option>
                <option>Nữ</option>
              </select>
            </div>
            <div class="form-group">
              <label>Số CMND</label>
              <input type="text" class="form-control"  id="idCardEdit" name="idCardEdit"  placeholder="Nhập số CMND" >
            </div>
            <div class="form-group">
              <label>Số Điện thoại</label>
              <input type="text" class="form-control" id="phoneEdit" name="phoneEdit" placeholder="Nhập số Điện thoại" >
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" id="emailEdit" name="emailEdit" placeholder="Nhập Email" >
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Địa chỉ</label>
          <textarea class="form-control" id="addressEdit" name="addressEdit" rows="3" placeholder="Nhập điện chỉ"></textarea>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-outline-dark btn-block mb-4" id="buttonEditCustomer">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal edit -->
<!-- Modal delete -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabeldelete" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-light">
      <div class="modal-header bg-dark" >
        <h5 class="modal-title text-white" >Xóa khách hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center" id="bodyDeleteCustomer">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Đóng</button>
        <input hidden type="text" name="idDelete" id="idDeleteCustomer">
        <button type="button" class="btn btn-outline-danger" id="buttonDeleteCustomer">Đồng ý</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal delete -->
</body>
