<body id="body" xmlns="http://www.w3.org/1999/html">
<div class="container-fluid d-flex">
  <div class="left col-12">
    <div class="d-flex m-2">
      <div class="col-8">
        <h1>Danh sách khách hàng</h1>
      </div>
      <div class="col-4 m-2">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Tìm kiếm khách hàng" id="keySearchCustomer" name="keySearchCustomer"
                 aria-label="Tìm kiếm khách hàng" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="buttonSearchCustomer" type="button">Tìm kiếm</button>
          </div>
        </div>
      </div>
    </div>
    <div id="message" style="color: dodgerblue;font-size: 24px"></div>
    <div class="d-flex">
      <div class="col-10">
      </div>
      <div class="col-2 text-right">
        <button type="button" class="btn btn-outline-info mb-2" style="margin-right: 2px" data-toggle="modal" data-target="#addNew">Thêm mới khách hàng</button>
      </div>
    </div>
    <table id="tables" class="table table-striped table-active table-hover " style="width:100%">
      <thead>
      <tr>
        <th>ID</th>
        <th>Mã</th>
        <th>Tên khách hàng</th>
        <th>Ngày sinh</th>
        <th>Giới tính</th>
        <th>Số CMND</th>
        <th>Điện thoại</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Loại khách hàng</th>
        <th>Tuỳ chọn</th>
      </tr>
      </thead>
      <tbody id="bodyTable">
      <tr *ngFor="let customerElement of customers" >
        <td>{{customerElement.id}}</td>
        <td>{{customerElement.code}}</td>
        <td>{{customerElement.name}}</td>
        <td>{{customerElement.birthday}}</td>
        <td *ngIf="customerElement.gender == 1">Nam</td>
        <td *ngIf="customerElement.gender == 0">Nữ</td>
        <td>{{customerElement.idCard}}</td>
        <td>{{customerElement.phone}}</td>
        <td>{{customerElement.email}}</td>
        <td>{{customerElement.address}}</td>
        <td>{{customerElement.customerType.name}}</td>
        <td>
          <app-edit-customer [idCustomerEdit]="customerElement.id+''" (eventEmitter)="loadList($event)"></app-edit-customer>
          <app-delete-customer [customerDelete]="customerElement"  (eventEmitter)="loadList($event)"></app-delete-customer>
        </td>

      </tr>
      </tbody>
    </table>

  </div>
</div>
<!-- Modal addnew -->
<div class="modal fade bd-example-modal-lg" id="addNew" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-light">
      <div class="modal-header bg-dark" >
        <h5 class="modal-title text-white" >Thêm mới khách hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="customerForm" (submit)="addNewCustomer()">
        <div class="d-flex">
          <div class="col-6">
            <div class="form-group">
              <label>Mã khách hàng</label>
              <input type="text" class="form-control"  formControlName="code" placeholder="Nhập mã khách hàng" >
<!--              <p class="text-danger" *ngIf="customerForm.controls.code.hasError('required') && customerForm.controls.code.dirty">-->
<!--                Vui lòng nhập mã khách hàng-->
<!--              </p>-->
            </div>
            <div class="form-group">
              <label>Tên khách hàng</label>
              <input type="text" class="form-control" formControlName="name" placeholder="Nhập tên khách hàng" >
              <p class="text-danger" *ngIf="customerForm.controls.name.hasError('required') && customerForm.controls.name.dirty">
                Vui lòng nhập tên khách hàng
              </p>
            </div>
            <div class="form-group" formGroupName="customerType">
              <label>Loại khách hàng</label>
              <select class="custom-select" formControlName="id" >
                <option *ngFor="let customerTypes of customerType; let i = index" value="{{customerTypes.id}}"
                        [attr.selected]="i==0 ? true : null">{{customerTypes.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Ngày Sinh</label>
              <input placeholder="Selected date" type="date" formControlName="birthday" class="form-control datepicker" >
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Giới tính</label>
              <select class="custom-select" formControlName="gender">
                <option value="1">Nam</option>
                <option value="0">Nữ</option>
              </select>
            </div>
            <div class="form-group">
              <label>Số CMND</label>
              <input type="text" class="form-control" formControlName="idCard" placeholder="Nhập số CMND" >
            </div>
            <div class="form-group">
              <label>Số Điện thoại</label>
              <input type="text" class="form-control" formControlName="phone" placeholder="Nhập số Điện thoại" >
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" formControlName="email" placeholder="Nhập Email" >
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Địa chỉ</label>
          <textarea class="form-control" rows="3" formControlName="address" placeholder="Nhập địa chỉ"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-dark btn-block mb-4" >Xác nhận</button>
        </div>
        </form>
      </div>
      </div>
    </div>
  </div>
<!-- Modal addnew -->
</body>
