<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DỊCH VỤ</title>
    <script src="/bootstrap/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/bootstrap/css/font-awesome.min.css">
</head>
<section class="ftco-section">
    <div class="container-fluid d-flex m-2">
        <div class="col-2">
            <img src="/img/logo.png" height="100" width="80" alt="logo-furama">
        </div>
        <div class="col-8 justify-content-center">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/img/img-furama/banner01.jpeg" height="150" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/img/img-furama/banner01.jpeg" height="150" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/img/img-furama/banner01.jpeg" height="150" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-2 my-3">
            <div class="form-group d-flex justify-content-center m-2">

            </div>
        </div>
    </div>
</section>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active"><a href="/" class="nav-link">Trang chủ</a></li>
                <li class="nav-item"><a href="/customer" class="nav-link">Khánh hàng</a></li>
                <li class="nav-item"><a href="/employee" class="nav-link">Nhân viên</a></li>
                <li class="nav-item"><a href="/#" class="nav-link">Dịch vụ khác</a></li>
                <!--                <%&#45;&#45;                <li class="nav-item"><a href="#" class="nav-link"></a></li>&#45;&#45;%>-->
                <li class="nav-item"><a data-toggle="modal" data-target="#login" class="nav-link">Đăng nhập</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Đăng ký</a></li>
            </ul>
        </div>
    </div>
</nav>

<body id="body">
<div class="container-fluid d-flex">
    <div class="left col-12">
        <div class="d-flex m-2">
            <div class="col-8">
                <h1>Danh sách dịch vụ</h1>
            </div>
            <div class="col-4 m-2">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Tìm kiếm" id="key" name="key"
                           aria-label="Tìm kiếm" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="buttonSearchService">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="message"></div>
        <div class="d-flex">
            <div class="col-10">
            </div>
            <div class="col-2 text-right">
                <button type="button" class="btn btn-outline-info m-1" style="margin-right: 2px"  data-toggle="modal" data-target="#addNew">Thêm mới dịch vụ
                </button>
            </div>
        </div>
        <table id="tables" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Mã dịch vụ</th>
                <th>Tên dịch vụ</th>
                <th>Diện tích</th>
                <th>Tối đa</th>
                <th>Kiểu thuê</th>
                <th>Loại dịch vụ</th>
                <th>Loại phòng</th>
                <th>Hồ bơi</th>
                <th>Tầng</th>
                <th>Chi phí</th>
                <th>Mô tả</th>
                <th>Tuỳ chọn</th>
            </tr>
            </thead>
            <tbody id="bodyTable">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="d-flex">
                        <button type="button" class="btn btn-outline-primary m-1" data-toggle="modal" data-target="#edit"
                                onclick="editModalService('${row.getId}','${row.getCode}', '${row.getName}', '${row.getArea}'
                                                        , '${row.getMaxPeople}', '${row.getRentType.getId}', '${row.getServiceType.getId}'
                                                        , '${row.getStandardRoom}', '${row.getPoolArea}', '${row.getFloor}'
                                                        , '${row.getServiceCost}', '${row.getDescription}')">Sửa</button>
                        <button type="button" class="btn btn-outline-danger m-1" data-toggle="modal" data-target="#delete"
                                onclick="deleteModalService('${row.getId}','${row.getCode}', '${row.getName}')" >Xóa
                        </button>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>


    </div>
</div>

<!-- Modal edit -->
<div class="modal fade bd-example-modal-lg" id="edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelEdit">Sửa dịch vụ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <input type="text" hidden name="idEdit" id="idEdit" >
                    <div class="col-6">
                        <div class="form-group">
                            <label>Mã dịch vụ</label>
                            <input type="text" class="form-control" name="codeEdit" id="codeEdit"
                                   placeholder="Nhập mã dịch vụ" required>
                        </div>
                        <div class="form-group">
                            <label>Tên dịch vụ</label>
                            <input type="text" class="form-control" name="nameEdit" id="nameEdit"
                                   placeholder="Nhập tên dịch vụ" required>
                        </div>
                        <div class="form-group">
                            <label>Diện tích</label>
                            <input type="number" name="areaEdit" id="areaEdit"  class="form-control datepicker" placeholder="Nhập diện tích" required>
                        </div>
                        <div class="form-group">
                            <label>Số người tối đa</label>
                            <input type="number" class="form-control" name="maxPeopleEdit" id="maxPeopleEdit"
                                   placeholder="Nhập số người tối đa" required>
                        </div>
                        <div class="form-group">
                            <label>Kiểu thuê</label>
                            <select class="custom-select" name="rentTypeEdit" id="rentTypeEdit">
                                <option th:each="rentTypes : ${rentTypeList}" th:value="${rentTypes.id}" th:text="${rentTypes.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Loại dịch vụ</label>
                            <select class="custom-select" name="serviceTypeEdit" id="serviceTypeEdit" onchange="changeServiceTypeEdit()">
                                <option th:each="serviceTypes : ${serviceTypeList}" th:value="${serviceTypes.id}" th:text="${serviceTypes.name}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Loại phòng</label>
                            <select class="custom-select" name="standardRoomEdit" id="standardRoomEdit" >
                                <option value="Thường">Thường</option>
                                <option value="VIP">VIP</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Diện tích hồ bơi</label>
                            <input type="number" class="form-control" name="poolAreaEdit" id="poolAreaEdit"
                                   placeholder="Nhập diện tích hồ bơi" required>
                        </div>
                        <div class="form-group">
                            <label>Tầng</label>
                            <input type="number" class="form-control" name="floorEdit" id="floorEdit"
                                   placeholder="Nhập tầng" required>
                        </div>
                        <div class="form-group">
                            <label>Chi phí</label>
                            <input type="number" class="form-control" name="serviceCostEdit" id="serviceCostEdit"
                                   placeholder="Nhập chi phí" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Mô tả</label>
                    <textarea class="form-control" name="descriptionEdit" id="descriptionEdit" rows="3" placeholder="Nhập mô tả" required></textarea>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-dark btn-block mb-4" id="buttonEditService">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal edit -->
<!-- Modal addNew -->
<div class="modal fade bd-example-modal-lg" id="addNew" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabeladdNew">Thêm dịch vụ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Mã dịch vụ</label>
                            <input type="text" class="form-control" name="code" id="code"
                                   placeholder="Nhập mã dịch vụ" required>
                        </div>
                        <div class="form-group">
                            <label>Tên dịch vụ</label>
                            <input type="text" class="form-control" name="name" id="name"
                                   placeholder="Nhập tên dịch vụ" required>
                        </div>
                        <div class="form-group">
                            <label>Diện tích</label>
                            <input type="number" name="area" id="area"  class="form-control datepicker" placeholder="Nhập diện tích" required>
                        </div>
                        <div class="form-group">
                            <label>Số người tối đa</label>
                            <input type="number" class="form-control" name="maxPeople" id="maxPeople"
                                   placeholder="Nhập số người tối đa" required>
                        </div>
                        <div class="form-group">
                            <label>Kiểu thuê</label>
                            <select class="custom-select" name="rentType" id="rentType">
                                <option th:each="rentTypes : ${rentTypeList}" th:value="${rentTypes.id}" th:text="${rentTypes.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Loại dịch vụ</label>
                            <select class="custom-select" name="serviceType" id="serviceType" onchange="changeServiceType()">
                                <option th:each="serviceTypes : ${serviceTypeList}" th:value="${serviceTypes.id}" th:text="${serviceTypes.name}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Loại phòng</label>
                            <select class="custom-select" name="standardRoom" id="standardRoom" >
                                <option value="Thường">Thường</option>
                                <option value="VIP">VIP</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Diện tích hồ bơi</label>
                            <input type="number" class="form-control" name="poolArea" id="poolArea"
                                   placeholder="Nhập diện tích hồ bơi" required>
                        </div>
                        <div class="form-group">
                            <label>Tầng</label>
                            <input type="number" class="form-control" name="numberFloors" id="numberFloors"
                                   placeholder="Nhập tầng" required>
                        </div>
                        <div class="form-group">
                            <label>Chi phí</label>
                            <input type="number" class="form-control" name="serviceCost" id="serviceCost"
                                   placeholder="Nhập chi phí" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Mô tả</label>
                    <textarea class="form-control" name="description" id="description" rows="3" placeholder="Nhập mô tả" required></textarea>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-dark btn-block mb-4" id="buttonAddNewService">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal addNew -->
<!-- Modal delete -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabeldelete" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabeldelete">Xoá Dịch vụ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center" id="bodyDeleteService">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <input hidden type="text" name="idDelete" id="idDelete">
                <button type="button" class="btn btn-danger" id="buttonDeleteService">Đồng ý</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal delete -->
<script>
    function deleteModalService(id, code, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("bodyDeleteService").innerHTML = `Mã dịch vụ: <b style='color: #005cbf'>${code}</b><br>
        Tên dịch vụ <b style='color: #005cbf'>${name}</b><br>
        Xóa dịch vụ này chứ ?`;
    }

    function editModalService(id, code, name, area, maxPeople, rentType, serviceType, standardRoom, poolArea, floor, serviceCost, description) {
        document.getElementById("idEdit").value = id;
        document.getElementById("codeEdit").value = code;
        document.getElementById("nameEdit").value = name;
        document.getElementById("areaEdit").value = area;
        document.getElementById("maxPeopleEdit").value = maxPeople;
        document.getElementById("rentTypeEdit").value = rentType;
        document.getElementById("serviceTypeEdit").value = serviceType;
        document.getElementById("standardRoomEdit").value = standardRoom;
        document.getElementById("poolAreaEdit").value = poolArea;
        document.getElementById("floorEdit").value = floor;
        document.getElementById("serviceCostEdit").value = serviceCost;
        document.getElementById("descriptionEdit").value = description;
    }

    //addnew
    $(document).ready(function () {
        $('#buttonAddNewService').click(function (event) {

            var code = document.getElementById("code").value;
            var name = document.getElementById("name").value;
            var area = document.getElementById("area").value;
            var maxPeople = document.getElementById("maxPeople").value;
            var rentType = document.getElementById("rentType").value; //model
            var serviceType = document.getElementById("serviceType").value; //model
            var standardRoom = document.getElementById("standardRoom").value;
            var poolArea = document.getElementById("poolArea").value;
            var numberFloors = document.getElementById("numberFloors").value;
            var serviceCost = document.getElementById("serviceCost").value;
            var description = document.getElementById("description").value;
            var jsonModel = {
                code: code,
                name: name,
                area: area,
                maxPeople: maxPeople,
                standardRoom: standardRoom,
                poolArea: poolArea,
                floor: numberFloors,
                serviceCost: serviceCost,
                description: description,
                rentType: {
                    id: rentType
                },
                serviceType: {
                    id: serviceType
                },
            }
            $.ajax({
                type: 'post',
                url: '/service/create',
                data: JSON.stringify(jsonModel),
                contentType: "application/json; charset=utf-8",
                success: function () {
                    menu('service')
                    document.getElementById("message").innerHTML = "<h4 style='font-weight: bold;color: dodgerblue'>Thêm thành công</h4>";

                },
                error : function() {
                    document.getElementById("messageCreateEmployee").innerHTML = "<p style='font-weight: bold;color: red'>tạo tài khoản không thành công</p>";
                }

            });
            event.preventDefault();
        });
    })

    //edit
    $(document).ready(function () {
        $('#buttonEditService').click(function (event) {

            var id = document.getElementById("idEdit").value;
            var code = document.getElementById("codeEdit").value;
            var name = document.getElementById("nameEdit").value;
            var area = document.getElementById("areaEdit").value
            var maxPeople = document.getElementById("maxPeopleEdit").value
            var rentType = document.getElementById("rentTypeEdit").value
            var serviceType = document.getElementById("serviceTypeEdit").value
            var standardRoom = document.getElementById("standardRoomEdit").value
            var poolArea = document.getElementById("poolAreaEdit").value
            var floor = document.getElementById("floorEdit").value
            var serviceCost = document.getElementById("serviceCostEdit").value
            var description = document.getElementById("descriptionEdit").value
            var jsonModel = {
                "id": id,
                "code": code,
                "name": name,
                "area": area,
                "maxPeople": maxPeople,
                "serviceCost": serviceCost,
                "description": description,
                "standardRoom": standardRoom,
                "poolArea": poolArea,
                "floor": floor,
                "rentType": {
                    "id": rentType
                },
                "serviceType": {
                    "id": serviceType
                }
            }
            $.ajax({
                type: 'post',
                url: '/service/edit',
                data: JSON.stringify(jsonModel),
                contentType: "application/json; charset=utf-8",
                success: function () {
                    menu('service')
                    document.getElementById("message").innerHTML = "<h4 style='font-weight: bold;color: dodgerblue'>Sửa thành công</h4>";
                },
                error : function() {

                    document.getElementById("message").innerHTML = "<p style='font-weight: bold;color: red'>không thành công</p>";
                }

            });
            event.preventDefault();
        });
    })

    // loop
    function getelementService(elements) {
        console.log(elements)
        let poolArea;
        let floor;
        elements.poolArea == null ? poolArea = "không": poolArea = elements.poolArea;
        elements.floor == null ? floor = "không": floor = elements.floor;
        return `<tr>
               <td >${elements.code}</td>
               <td >${elements.name}</td>
               <td >${elements.area}</td>
               <td >${elements.maxPeople}</td>
               <td >${elements.rentType.name}</td>
               <td >${elements.serviceType.name}</td>
               <td >${elements.standardRoom}</td>
               <td >${poolArea}</td>
               <td >${floor}</td>
               <td >${elements.serviceCost}</td>
               <td >${elements.description}</td>

               <td>
        <button type="button" class="btn btn-outline-primary m-1" data-toggle="modal" data-target="#edit"
        onclick= "editModalService('${elements.id}','${elements.code}','${elements.name}'
                                                        , '${elements.area}', '${elements.maxPeople}', '${elements.rentType.id}'
                                                        , '${elements.serviceType.id}', '${elements.standardRoom}', '${elements.poolArea}'
                                                        , '${elements.poolArea}', '${elements.serviceCost}', '${elements.description}')">Sửa</button>
        <button type="button" class="btn btn-outline-danger m-1" data-toggle="modal" data-target="#delete"
         onclick="deleteModalService('${elements.id}', '${elements.code}', '${elements.name}')">Xóa</button></td></tr>`;
    }

    // delete
    $(document).ready(function () {
        $('#buttonDeleteService').click(function (event) {

            var idDelete = document.getElementById("idDelete").value;
            $.ajax({
                type: "GET",
                //tên API
                url: `/service/delete/${idDelete}`,
                success: function (data) {
                    menu('service')
                    document.getElementById("message").innerHTML = "<h4 style='font-weight: bold;color: dodgerblue'>xóa thành công</h4>";

                }
            });
            event.preventDefault();
        });
    })

    // search
    $(document).ready(function () {
        $('#buttonSearchService').click(function (event) {
            callLoading()
            var key = document.getElementById("key").value;
            $.ajax({
                type: "GET",
                //tên API
                url: `/service/search/${key}`,
                success: function (data) {
                    let content = '';
                    for (let i = 0; i < data.content.length; i++) {
                        content += getelementService(data.content[i]);
                    }
                    document.getElementById("message").innerHTML = "";

                    document.getElementById('bodyTable').innerHTML = content;
                    callLoading()
                },
                error : function() {
                    callLoading()
                    document.getElementById("message").innerHTML = "<h4 style='font-weight: bold;color: red'>Không tìm thấy</h4>";
                }
            });
            event.preventDefault();
        });
    })

    function changeServiceTypeEdit(){
        if (document.getElementById("serviceTypeEdit").value == "1"){
            document.getElementById("poolAreaEdit").placeholder = "Nhập diện tích hồ bơi"
            document.getElementById("floorEdit").placeholder = "Nhập số tầng"
            document.getElementById("poolAreaEdit").disabled = false;
            document.getElementById("floorEdit").disabled = false;
        }else if (document.getElementById("serviceTypeEdit").value == "2"){
            document.getElementById("poolAreaEdit").value = "";
            document.getElementById("poolAreaEdit").placeholder = "House không có hồ bơi"
            document.getElementById("floorEdit").placeholder = "Nhập số tầng"
            document.getElementById("poolAreaEdit").disabled = true;
            document.getElementById("floorEdit").disabled = false;
        }else {
            document.getElementById("poolAreaEdit").value = "";
            document.getElementById("poolAreaEdit").placeholder = "Room không có hồ bơi"
            document.getElementById("floorEdit").value = "";
            document.getElementById("floorEdit").placeholder = "Room không có tầng"
            document.getElementById("poolAreaEdit").disabled = true;
            document.getElementById("floorEdit").disabled = true;
        }
    }
    function changeServiceType(){
        if (document.getElementById("serviceType").value == "1"){ //villa
            document.getElementById("poolArea").placeholder = "Nhập diện tích hồ bơi"
            document.getElementById("numberFloors").placeholder = "Nhập số tầng"
            document.getElementById("poolArea").disabled = false;
            document.getElementById("numberFloors").disabled = false;
        }else if (document.getElementById("serviceType").value == "2"){ //house
            document.getElementById("poolArea").value = "";
            document.getElementById("poolArea").placeholder = "House không có hồ bơi"
            document.getElementById("numberFloors").placeholder = "Nhập số tầng"
            document.getElementById("poolArea").disabled = true;
            document.getElementById("numberFloors").disabled = false;
        }else {  //room
            document.getElementById("poolArea").value = "";
            document.getElementById("poolArea").placeholder = "Room không có hồ bơi"
            document.getElementById("numberFloors").value = "";
            document.getElementById("numberFloors").placeholder = "Room không có tầng"
            document.getElementById("poolArea").disabled = true;
            document.getElementById("numberFloors").disabled = true;
        }
    }
</script>

</body>

<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Trang chủ</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Nhân viên</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Khách hàng</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Dịch vụ</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Hợp đồng</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Exam module3</p>
    </footer>
</div>
<script src="/bootstrap/js/jquery.dataTables.min.js"></script>
<script src="/bootstrap/js/dataTables.bootstrap4.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tables').dataTable({
            "dom": 'lrtip',
            "lengthChange": false,
            "pageLength": 10
        });
    });
</script>
</html>