<div class="container-fluid d-flex">
  <div class="left col-12">
    <div class="container-xl">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-8"><h2><b>Danh sách Sinh viên</b></h2>
                <button href="#modalAddNew" data-toggle="modal" type="button" class="btn btn-light bi bi-pencil-square"></button>
              </div>
              <div class="col-sm-4">
                <app-student-search></app-student-search>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
              <th>#</th> <!--<i class="fa fa-sort"></i>-->
              <th>Họ và tên</th>
              <th>Ngày sinh</th>
              <th>Email</th>
              <th>Số điện thoại</th>
              <th>Lớp</th>
              <th>Tùy chọn</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let students of studentList | paginate: {itemsPerPage: 2, currentPage: page, totalItems: totalLength }; index as i">
              <td>{{i+1}}</td>
              <td>{{students.name}}</td>
              <td>{{students.birthday}}</td>
              <td>{{students.email}}</td>
              <td>{{students.phone}}</td>
              <td>{{students.class.name}}</td>
              <td>
<!--                <a href="#myModal" data-toggle="modal" class="view" title="View" ><i class="material-icons">&#xE417;</i></a>-->
                <a href="#modalEdit" data-toggle="modal" class="edit" title="Edit" (click)="sendDataEdit(students)"><i class="material-icons">&#xE254;</i></a>
                <a href="#modalDelete" data-toggle="modal" class="delete" title="Delete" (click)="sendDataDelete(students)"><i class="material-icons">&#xE872;</i></a>
              </td>
            </tr>

            </tbody>
          </table>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
<!--          phân trang-->
<!--          <div class="clearfix">-->
<!--            <ul class="pagination">-->
<!--              <pagination-controls (pageChange)="page = $event"></pagination-controls>-->
<!--              <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>-->
<!--              <li class="page-item"><a href="#" class="page-link">1</a></li>-->
<!--              <li class="page-item"><a href="#" class="page-link">2</a></li>-->
<!--              <li class="page-item active"><a href="#" class="page-link">3</a></li>-->
<!--              <li class="page-item"><a href="#" class="page-link">4</a></li>-->
<!--              <li class="page-item"><a href="#" class="page-link">5</a></li>-->
<!--              <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--          phân trang-->
        </div>
      </div>
    </div>
  </div>
</div>

<app-student-edit></app-student-edit>
<app-student-delete></app-student-delete>
<app-student-create></app-student-create>
