<div class="container-fluid">
  <div class="d-flex ">
    <div class="col-3 bg-menu ">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-menu ">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none t">
          <span class="fs-4 text-center text-white">Menu khách hàng</span>
        </a>
        <hr class="text-primary mt-3">
        <ul class="nav nav-pills flex-column mb-auto list-group menu-left" >
          <li class="nav-item ">
            <a href="#" class="nav-link list-group-item-action ">
              <div class="margin-left-menu-left">
                <i class="fa-solid fa-hand-holding-dollar" width="16" height="16"></i> Bảng giá
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link list-group-item-action ">
              <div class="margin-left-menu-left">
                <i class="fa-solid fa-gamepad" width="16" height="16"></i> Dịch vụ
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link list-group-item-action ">
              <div class="margin-left-menu-left">
                <i class="fa-solid fa-circle-user" width="16" height="16"></i> Tài khoản
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link list-group-item-action ">
              <div class="margin-left-menu-left">
                <i class="fa-solid fa-money-check-dollar" width="16" height="16"></i> Thanh toán
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link list-group-item-action">
              <div class="margin-left-menu-left">
                <i class="fa-solid fa-thumbs-up" width="16" height="16"></i> Game yêu thích
              </div>
            </a>
          </li>
        </ul>

      </div>
    </div>
    <div class="col-9 body-center">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-menu">
        <span class="fs-4 text-left text-white">Thông tin khách hàng</span>
        <div class="d-flex col-12">
          <div class="col-8">
            <hr class="text-primary mt-3">
            <table>
              <tr class="bordered">
                <th scope="row" class="text-center title-td">Thời gian bắt đầu</th>
                <td class="text-center content-td">12/12/2022</td>
              </tr>
              <tr class="bordered">
                <th scope="row" class="text-center title-td">Thời gian kết thúc</th>
                <td class="text-center content-td">12/12/2022</td>
              </tr>
              <tr class="bordered">
                <th scope="row" class="text-center title-td">Loại</th>
                <td class="text-center content-td">Theo giờ</td>
              </tr>
              <tr class="bordered">
                <th scope="row" class="text-center title-td">Chi phí</th>
                <td class="text-center content-td">100.000 vnđ</td>
              </tr>
              <tr class="bordered">
                <th scope="row" class="text-center title-td">Giảm giá</th>
                <td class="text-center content-td">10%</td>
              </tr>
              <tr class="bordered">
                <th scope="row" class="text-center title-td">Mô tả</th>
                <td class="text-center content-td">abcd</td>
              </tr>
            </table>
          </div>
          <div class="col-4">
            <div>
              <img src="assets/images/user.png" alt="logo" class="img-user">
              <div class="text-center mt-4">
                <button type="button" class="btn btn-outline-primary btn-lg btn-block">Sửa thông tin <i class="fa-solid fa-user-pen"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

