<div class="container-fluid d-flex">
  <div class="left col-12">
    <div class="container-xl">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-8"><h2><b>Danh sách vé xe</b></h2>
                <button href="#modalAddNew" data-toggle="modal" type="button"
                        class="btn btn-light bi bi-pencil-square"></button>
              </div>
              <div class="col-sm-4">
                <app-ticket-search></app-ticket-search>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
              <th>Điểm đi</th>
              <th>Điểm đến</th>
              <th>Giá vé</th>
              <th>Giờ khởi hành</th>
              <th>Ngày khởi hành</th>
              <th>Nhà xe</th>
              <th>Số lượng</th>
              <th>Tùy chọn</th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let tickets of ticketList | paginate: {itemsPerPage: 5, currentPage: page, totalItems: totalLength }; index as i">
              <td>{{tickets.startPoint}}</td>
              <td>{{tickets.endPoint}}</td>
              <td>{{tickets.price | currency: "VND"}}</td>
              <td>{{tickets.startTime}}</td>
              <td>{{tickets.startDate | date: "dd-MM-yyyy"}}</td>
              <td>{{tickets.car.name}}</td>
              <td>{{tickets.count}} vé</td>
              <td class="d-flex">
                <button type="submit" class="btn btn-outline-dark btn-block mr-1" href="#modalOrder" data-toggle="modal"
                        (click)="sendData('order', tickets)">Đặt vé
                </button>
                <button class="btn btn-outline-danger mr-1" title="Xóa" (click)="sendData('delete',tickets)" href="#modalDelete" data-toggle="modal"><i class="bi bi-x-circle-fill"></i></button>
              </td>
            </tr>

            </tbody>
          </table>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<app-ticket-create></app-ticket-create>
<app-ticket-order></app-ticket-order>
<app-ticket-delete></app-ticket-delete>
